# 默认忽略根目录下的所有内容
/*

# 允许跟踪 .gitignore 自身
!/.gitignore

# 允许跟踪 requirements.txt（如果需要）
!/requirements.txt

# 允许跟踪 05_analysis 及其所有内容
!/05_analysis
!/05_analysis/**
# 忽略 macOS Finder 产生的垃圾文件
**/.DS_Store
